body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 60px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.address-list {
  font-style: normal;
}
.address-list-nav {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list-nav:hover {
  color: #404bbf;
}
.address-list-nav:focus {
  color: #404bbf;
}
